{% load multiply %}
{% for fruit in fruits %}
    <tr>
        <td>{{ fruit.name }}</td>
        <td>{{ fruit.quantity }}</td>
        <td id="{{ fruit.name }}">
            <form
                    class="d-flex flex-nowrap"
                    hx-post="{% url 'app:trade' %}"
                    hx-swap="none"
                    hx-vals='{"fruit": "{{ fruit.name }}"}'
                    hx-on::after-request="this.reset()"
            >
                <input
                        name="quantity"
                        style="width: 100px"
                        class="form-control me-2"
                        type="number"
                        min="1"
                        max="100000"
                        placeholder="..."
                        required
                        {% if not request.user.is_authenticated %}disabled{% endif %}
                >
                <button
                        type="submit"
                        name="action"
                        value="Buy"
                        class="btn btn-outline-success me-2"
                        {% if not request.user.is_authenticated %}disabled{% endif %}
                >
                    Buy
                </button>
                <button
                        type="submit"
                        name="action"
                        value="Sell"
                        class="btn btn-outline-primary me-2"
                        {% if not request.user.is_authenticated %}disabled{% endif %}
                >
                    Sell
                </button>
            </form>
        </td>
        <td>
            {% if fruit.successful_trades %}
                {% with trade=fruit.successful_trades.0 %}
                    {{ trade.timestamp|date:"d.m.y H:i:s" }} -
                    {% if trade.action == 'Buy' %}Bought{% else %}Sold{% endif %}
                    {{ trade.quantity }}
                    {% if fruit.name == 'Peach' %}peaches{% else %}{{ fruit.name|lower }}s{% endif %}
                    for
                    {% if trade.action == 'Buy' %}
                        {{ trade.quantity|multiply:fruit.buy_price }}
                    {% else %}
                        {{ trade.quantity|multiply:fruit.sell_price }}
                    {% endif %}$.
                {% endwith %}
            {% else %}
                No successful trades.
            {% endif %}
        </td>
    </tr>
{% endfor %}