<script>
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-start',
        showConfirmButton: false,
        timer: 3000,
    });

    {% if messages %}
        {% for message in messages %}
            {% if "error" in message.tags %}
                Toast.fire({
                    icon: 'error',
                    text: '{{ message|safe }}'
                });
            {% elif "success" in message.tags %}
                Toast.fire({
                    icon: 'success',
                    text: '{{ message|safe }}'
                });
            {% endif %}
        {% endfor %}
    {% endif %}
</script>