<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <title>Fruit Shop</title>
    <style>
        :root {
            --navbar-height: 57px;
        }

        #container {
            height: calc(100vh - var(--navbar-height));
            display: grid;
            grid-template-areas:
                    "w w e"
                    "c b e";
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0.5em;
        }

        #warehouse {
            grid-area: w;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        #trades {
            grid-area: e;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        #trades ul {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
        }

        #chat {
            grid-area: c;
            width: 100%;
            height: 100%;
            overflow: auto;
            display: grid;
            grid-template-areas:
                "m"
                "f";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
        }

        #chat > ul {
            grid-area: m;
            overflow-y: auto;
        }

        #chat > form {
            grid-area: f;
        }

        #bank {
            grid-area: b;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        @media (max-width: 991px) {
            #container {
                height: fit-content;
                display: grid;
                grid-template-areas:
                    "w"
                    "e"
                    "c"
                    "b";
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto auto;
                grid-gap: 0.5em;
            }

            #trades ul, #chat ul {
                max-height: 500px;
                overflow-y: auto;
            }
        }
    </style>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-body-white border-bottom">
    <div class="container-xl">
        <a class="navbar-brand" href="#">🍍 Fruit Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
                aria-controls="navbar-toggler" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggler">
            {% include 'partials/auth_form.html' %}
        </div>
    </div>
</nav>
<!--Main-->
<div class="d-flex bg-body-tertiary">
    <div id="container" class="container-xl py-2">
        <div id="warehouse">
            <div class="table-responsive">
                <table hx-ext="morph" class="table table-bordered table-striped table-hover align-middle text-nowrap">
                    <thead class="text-center">
                    <tr>
                        <th colspan="4">
                            <div class="d-flex align-items-center">
                                <span class="text-center w-100">Products in warehouse</span>
                                <button
                                        id="warehouse__button"
                                        class="btn btn-outline-success ms-auto"
                                        {% if not request.user.is_authenticated %}
                                        disabled
                                        {% endif %}
                                >
                                    Check the warehouse
                                </button>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                        <th>Latest operations</th>
                    </tr>
                    </thead>
                    <tbody hx-ext="morph"
                           hx-get="/warehouse"
                           hx-trigger="every 10s"
                           hx-swap="morph:{ignoreActiveValue:true,morphStyle:'innerHTML'}"
                    >
                    {% include 'partials/fruits.html' with fruits=fruits %}
                    </tbody>
                </table>
            </div>
        </div>
        <div hx-ext="ws" ws-connect="ws://{{ request.get_host }}/ws/trade/" id="trades">
            <ul id="trades__list" class="list-group rounded-0"></ul>
        </div>
        <div hx-ext="ws" ws-connect="ws://{{ request.get_host }}/ws/chat/" id="chat"
        >
            <ul id="chat__list" class="list-group rounded-0"></ul>
            <form ws-send class="d-flex flex-row mt-2" hx-on::ws-after-send="this.reset()">
                <input
                        name="message"
                        class="form-control w-100 me-2"
                        type="text"
                        minlength="3"
                        maxlength="100"
                        placeholder="Type here..."
                        {% if not request.user.is_authenticated %}
                        disabled
                        {% endif %}
                />
                <button
                        id="send-message"
                        class="btn btn-outline-primary"
                        type="submit"
                        {% if not request.user.is_authenticated %}
                        disabled
                        {% endif %}
                >
                    Send
                </button>
            </form>
        </div>
        <div id="bank" class="card rounded-0 mb-2 mb-xl-0">
            <div class="card-body">
                <p class="text-center">BANK</p>
                <!--Balance-->
                <div class="row">
                    <table class="table table-bordered text-center align-middle text-nowrap">
                        <tbody>
                        <tr hx-ext="ws" ws-connect="ws://{{ request.get_host }}/ws/balance/">
                            <td class="w-50">Balance</td>
                            {% include 'partials/balance.html' with balance=balance %}
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Audit-->
                <div id="audit" class="row" hx-ext="ws" ws-connect="ws://{{ request.get_host }}/ws/audit/">
                    <div class="col">
                        <button class="btn btn-outline-success w-100 mb-2"
                                hx-post="{% url 'app:audit' %}"
                                hx-trigger="click"
                                hx-swap="none"
                                {% if not request.user.is_authenticated %}
                                disabled
                                {% endif %}
                        >
                            Financial audit
                        </button>
                    </div>
                    <div class="col d-flex align-items-center mb-2">
                        <div class="progress" style="width:100%">
                            <div
                                    id="progress"
                                    class="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar"
                                    style="width: 0%"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                            >
                                0%
                            </div>
                        </div>
                    </div>
                </div>
                <!--Replenish / Withdraw-->
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row mb-2">
                            <form
                                    class="d-flex gap-2 w-100"
                                    hx-post="{% url 'app:balance' %}"
                                    hx-target="this"
                                    hx-swap="none"
                                    hx-on::after-request="this.reset()"
                            >
                                <input
                                        name="amount"
                                        type="number"
                                        min="1"
                                        max="100000"
                                        placeholder="..."
                                        required
                                        class="form-control w-100"
                                        {% if not request.user.is_authenticated %}disabled{% endif %}
                                />

                                <button
                                        type="submit"
                                        name="action"
                                        value="Replenish"
                                        class="btn btn-outline-success w-100"
                                        {% if not request.user.is_authenticated %}disabled{% endif %}
                                >
                                    Replenish
                                </button>
                                <button
                                        type="submit"
                                        name="action"
                                        value="Withdraw"
                                        class="btn btn-outline-primary w-100"
                                        {% if not request.user.is_authenticated %}disabled{% endif %}
                                >
                                    Withdraw
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div
                            hx-ext="ws"
                            ws-connect="ws://{{ request.get_host }}/ws/declaration/"
                            class="d-flex flex-row align-items-center"
                    >
                        <form
                                class="d-flex align-items-center mb-0"
                                hx-post="{% url 'app:declaration' %}"
                                hx-target="this"
                                hx-swap="none"
                                enctype="multipart/form-data"
                        >
                            <div class="input-group me-2">
                                {{ declaration_form.file }}
                            </div>
                            <button
                                    class="btn btn-outline-success me-2"
                                    type="submit"
                                    {% if not request.user.is_authenticated %}
                                    disabled
                                    {% endif %}
                            >
                                Upload
                            </button>
                        </form>
                        <div>
                            {% include 'partials/declarations_count.html' with today_count=declarations_count %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<!--Sweet Alerts-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--HTMX-->
<script
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
        integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
        crossorigin="anonymous"></script>
</html>
<!--HTMX WebSockets-->
<script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.3/ws.min.js"></script>
<!--HTMX Idiomorph-->
<script src="https://unpkg.com/idiomorph@0.7.3"
        integrity="sha384-JcorokHTL/m+D6ZHe2+yFVQopVwZ+91GxAPDyEZ6/A/OEPGEx1+MeNSe2OGvoRS9"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/idiomorph@0.7.3/dist/idiomorph-ext.min.js"
        integrity="sha384-szktAZju9fwY15dZ6D2FKFN4eZoltuXiHStNDJWK9+FARrxJtquql828JzikODob"
        crossorigin="anonymous"></script>
{% include "partials/toasts.html" %}
<script>
    document.addEventListener('htmx:oobAfterSwap', function (event) {
        const target = event.detail.target;
        if (target.tagName === 'UL') {
            target.scroll({
                top: target.scrollHeight,
                behavior: 'smooth'
            });
        }
    });

    document.body.addEventListener('htmx:responseError', function (evt) {
        const response = evt.detail.xhr.response;
        const {error} = JSON.parse(response);
        Toast.fire({
            icon: 'error',
            text: error
        });
    });

    const audit = document.getElementById("audit");
    const progressBar = document.getElementById("progress");

    audit.addEventListener("htmx:wsBeforeMessage", function (e) {
        const {progress} = JSON.parse(e.detail.message);
        progressBar.style.width = progress + "%";
        progressBar.setAttribute("aria-valuenow", progress);
        progressBar.textContent = progress + "%";
    });

    const checkWarehouse = document.getElementById("warehouse__button");

    checkWarehouse.addEventListener("click", async function () {
        checkWarehouse.disabled = true;

        const response = await fetch(
            "warehouse/check/",
            {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            }
        );

        const data = await response.json();

        const socket = new WebSocket(`ws://${window.location.host}/ws/warehouse/${data['task_id']}/`);

        socket.onmessage = function (event) {
            const {status} = JSON.parse(event.data);

            if (status === 'Started') {
                Toast.fire({
                    icon: 'success',
                    text: 'Warehouse checking started'
                });
            } else if (status === 'Finished') {
                Toast.fire({
                    icon: 'success',
                    text: 'Warehouse checking finished'
                });
                checkWarehouse.disabled = false;
                socket.close();
            }
        }
    });
</script>